// fonts
$dg: 'Didact Gothic', sans-serif;
// $gh: 'Gochi Hand', cursive;
$gh: 'Just Another Hand', cursive;

$lora: 'Lora', serif;
$inter: 'Inter', sans-serif;

// color scheme
$light: #f3f3f3;
$muted: #151616;
$main: #151616;
$highlight: #01f951;
$darkhighlight: #01f951;